<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">

    <title>Femaile Genital Mutilation</title>
</head>

<body
    style="font-family:'Times New Roman', Times, serif; color:whitesmoke; font-size: 20px; background-color:rgb(9, 28, 58)">
    <div class="container w-75 p-3">
        <br>
        <p>
            <font color="orangered" face="Times New Roman">
                <h1 class="text-center">What is Female Genital Mutilation?</h1>
            </font>
        </p>
        <p class="d-inline-flex p-2 bd-highlight h4">
            Female genital mutilation (FGM) comprises all procedures that involve partial or total removal of the
            external female genitalia, or other injury to the female genital organs for non-medical reasons.
        </p>
        <p class="d-inline-flex p-2 bd-highlight h4">
            It's also known as female circumcision or cutting, and by other terms, such as sunna, gudniin, halalays,
            tahur, megrez and khitan, among others.
        </p>

        <p>
            <font color="orangered" face="Times New Roman">
                <h2 class="text-center">How many women and girls are affected?</h2>
            </font>
        </p>
        <p>An estimated 200 million girls and women alive today are believed to have been subjected to FGM; but rates of
            FGM are increasing, a reflection of global population growth. Girls and women who have undergone FGM live
            predominately in sub-Saharan Africa and the Arab States, but FGM is also practiced in select countries in
            Asia, Eastern Europe and Latin America. It is also practiced among migrant populations throughout Europe,
            North America, Australia and New Zealand.
        </p>
        <p>If FGM practices continue at recent levels, 68 million girls will be cut between 2015 and 2030 in 25
            countries where FGM is routinely practiced and more recent data are available.
        </p>
        <p>A key challenge is not only protecting girls who are currently at risk but also ensuring that those to be
            born in the future will be free from the dangers of the practice. This is especially important considering
            that FGM-concentrated countries are generally experiencing high population growth and have large youth
            populations. In 2019, an estimated 4.1 million girls will be cut. This number of girls cut each year is
            projected to rise to 4.6 million girls in the year 2030.

        </p>

        <div class="topic-view-dashboard-link-wrapper disp-blk text-center h2">
            <br>
            <a href="/dashboard">View dashboard &gt;</a>
        </div>

        <div>
            <br>
            <p>
                <font color="orangered" face="Times New Roman">
                    <h2 class="text-center">Key Facts</h2>
                </font>
            </p>
            <ul class="h5">
                <li>Female genital mutilation (FGM) involves the partial or total removal of external female genitalia
                    or
                    other injury to the female genital organs for non-medical reasons.</li>
                <li>The practice has no health benefits for girls and women.</li>
                <li>FGM can cause severe bleeding and problems urinating, and later cysts, infections, as well as
                    complications in childbirth and increased risk of newborn deaths.</li>
                <li>More than 200 million girls and women alive today have been cut in 30 countries in Africa, the
                    Middle
                    East and Asia where FGM is concentrated (1).</li>
                <li>FGM is mostly carried out on young girls between infancy and age 15.</li>
                <li>FGM is a violation of the human rights of girls and women.</li>
                <li>WHO is opposed to all forms of FGM, and is opposed to health care providers performing FGM
                    (medicalization of FGM).</li>
                <li>Treatment of health complications of FGM in 27 high prevalence countries costs 1.4 billion USD per
                    year.
                </li>
            </ul>
        </div>
        <br>
    </div>

    <div class="container w-75 p-3">
        <p>
            <font color="orangered" face="Times New Roman">
                <h2 class="text-center">Why FGM is carried out</h2>
            </font>
        </p>
        <p>FGM is carried out for various cultural, religious and social reasons within families and communities in the
            mistaken belief that it'll benefit the girl in some way (for example, as a preparation for marriage or to
            preserve her virginity).</p>
        <p>But there are no acceptable reasons that justify FGM. It's a harmful practice that has no health benefits.
        </p>
        <p>FGM usually happens to girls whose mothers, grandmothers or extended female family members have had FGM
            themselves, or if their father comes from a community where it's&nbsp;carried&nbsp;out.
        </p>

        <p>
            <font color="orangered" face="Times New Roman">
                <br>
                <h2 class="text-center">Where FGM is carried out</h2>
            </font>
        </p>

        <p>Girls are sometimes taken abroad for FGM, but they may not be aware this is the reason for their travel.
        </p>
        <p>Girls are more at risk of FGM being carried out during the summer holidays, as this allows more time for
            them to "heal" before they return to school.</p>
        <p>If you think there's a risk of this happening to you,&nbsp;you can <a
                href="https://www.gov.uk/government/publications/statement-opposing-female-genital-mutilation">download
                the Statement Opposing FGM</a> and take it with you on holiday to show your family.</p>
        <p>Communities that perform FGM are found in many parts of Africa, the Middle East and Asia.</p>
        <p>Girls who were born in the UK or are resident here but whose families originate from an FGM-practising
            community are at greater risk of FGM happening to them.</p>
        <!-- <p>Communities at particular risk of FGM in the UK originate from:</p>
        <ul>
            <li>Egypt</li>
            <li>Eritrea</li>
            <li>Ethiopia</li>
            <li>Gambia</li>
            <li>Guinea</li>
            <li>Indonesia</li>
            <li>Ivory Coast</li>
            <li>Kenya</li>
            <li>Liberia</li>
            <li>Malaysia</li>
            <li>Mali</li>
            <li>Nigeria</li>
            <li>Sierra Leone</li>
            <li>Somalia</li>
            <li>Sudan</li>
            <li>Yemen</li>
        </ul> -->

        <p>
            <font color="orangered" face="Times New Roman">
                <br>
                <h2 class="text-center">Getting help and support</h2>
            </font>
        </p>

        <p>All women and girls have the right to control what happens to their bodies and the right to say no to FGM.
        </p>
        <p>Help is available if you have had FGM or you're worried that you or someone you know is at risk.
        </p>

        <ul>
            <li>If someone is in immediate danger, contact the police immediately by dialling 999.</li>
            <li>If you're concerned that someone may be at risk, contact the NSPCC helpline on 0808 800 5000 or <a
                    href="mailto:fgmhelp@nspcc.org.uk">fgmhelp@nspcc.org.uk</a>.</li>
            <li>If you're under pressure&nbsp;to have FGM performed on your daughter, ask a GP, your health visitor or
                another healthcare professional for help, or contact the NSPCC helpline.</li>
            <li>If you have had FGM, you can get help from a specialist NHS gynaecologist or FGM service – ask a GP,
                your midwife or any other healthcare professional about services in your area.&nbsp;</li>
        </ul>

        <div class="topic-view-dashboard-link-wrapper disp-blk text-center h2">
            <br>
            <a href="/dashboard">View dashboard &gt;</a>
        </div>

    </div>

    <!-- <div class="row justify-content-center m-60px-b  md-m-30px-b sm-m-15px-b h5">

        <div class="col-12 col-md-10 col-lg-8 text-center">
            <br>
            <h4 class="ins-cms-main-title wow fadeInUp" data-wow-duration="0.8s"
                style="visibility: visible; animation-duration: 0.8s; animation-name: fadeInUp; font-family:'Times New Roman', Times, serif; color:greenyellow; font-size: 20px">
                About <span class="color-theme">FGM</span></h4>

            <p class="ins-title-desc">

                A worldwide product development and services company with a curious and passionate team of
                software engineers, usability experts and business analysts.

            </p>

        </div>

        <!-- col -->

    </div> -->


    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js" integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous"></script>
    -->
</body>

</html>

<!-- #0b1433 -->
<!-- <p style="font-family:Courier; color:Blue; font-size: 20px;">This text has the font Courier, is Blue, and 20px.
        </p> -->

<!-- <font color="white" face="courier" size="5"> A special font example.</font> -->

<!-- <div class="container w-75 p-3 col-md-6"  style="background-color: rgb(193, 189, 194)"></div> -->
<!-- <body style="background-color:blue;text-align:center"></body> -->